body{
    font-family: Arial, sans-serif;
    margin: 20px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.padding{
    border: 2px solid black;
    padding: 20px;
}

.margin{
    border: 2px solid red;
    margin: 30px;
}

.texto-color{
    color: brown;
}

.fondo-color{
    background-color: beige;
}

.alineado{
    border: 2px solid blue;
    text-align: center;
}

.tamano{
    font-size: 25px;
}

.hover1:hover{
    color: white;
    background-color: brown;
    font-size: 20px;
}

.hover2:hover{
    color: yellow;
    background-color: black;
    font-size: 20px;
}

.active1:active{
    color: white;
    background-color: green;
    font-size: 22px;
}

.active2:active{
    color: white;
    background-color: red;
    font-size: 22px;
}

.fijo{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 2px solid black;
    padding: 5px;
    background-color: white;
}